body {
	font-family: "Instrument Serif", sans-serif;
}

h1 {
	font-size: 4rem;
	font-weight: 500;
	line-height: 1;
}

p {
	font-size: 2rem;
	font-weight: 500;
	line-height: 1;
}

@media (max-width: 1000px) {
	h1 {
		font-size: 3rem;
	}
}
